
/* ------------- Resets------------ */
html{
    font-size: 15px;
    scroll-behavior: smooth;
}
input{
    font-family: inherit;
}
ul,
ol,
li{
    list-style-type: none;
}


/* --------------- */
body{
    background-color:  var(--color-primary);
    color:  var(--text-primary);
    font-family: var(--ff-primary);
    /* min-height: 100vh; */
}
.dashboard{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}
header{
    border-bottom:  1px solid var(--color-secondary);
    display:  flex;
    align-items: center;
    justify-content: space-between;
    padding:  var(--spacing-base, 1.1rem);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
}
.sidebar{
    border-right:  1px solid var(--color-secondary);
    grid-row: 1 / 3; 
    padding:  var(--spacing-base);
}
.dashboard-overview{
    padding:  var(--spacing-base);
}

