:root{
  /* --- Typography --- */
  --ff-primary: 'Google Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ff-secondary: 'Google Sans Code', 'Courier New', Courier, monospace;  /* countdown  font */
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-h1: clamp(3rem, 8vw, 6rem);    /* Oracle */
  --fs-h2: clamp(1.2rem, 3vw, 2.2rem); /* AI-Powered Crash Prediction Analytics */
  --fs-coming-soon: clamp(1.5rem, 5vw, 3rem); /* Coming Soon */
  --fs-body: clamp(0.9rem, 2vw, 1.125rem);
  --fs-small: clamp(0.75rem, 1.5vw, 0.9rem); /* Footer text */
  --fs-countdown: clamp(2rem, 6vw, 4rem); /* Countdown timer */

  /* --- Spacing & Layout --- */
  --spacing-unit: 0.5rem; /* Base unit for modular scaling */
  --spacing-xxs: calc(var(--spacing-unit) * 0.5); /* 0.25rem */
  --spacing-xs: var(--spacing-unit);             /* 0.5rem */
  --spacing-sm: calc(var(--spacing-unit) * 2);   /* 1rem */
  --spacing-md: calc(var(--spacing-unit) * 4);   /* 2rem */
  --spacing-lg: calc(var(--spacing-unit) * 6);   /* 3rem */
  --spacing-xl: calc(var(--spacing-unit) * 8);   /* 4rem */
  --spacing-xxl: calc(var(--spacing-unit) * 12);  /* 6rem */

  --container-padding: var(--spacing-md);
  --element-gap-sm: var(--spacing-sm);
  --element-gap-md: var(--spacing-md);
  --header-height: 4rem; /* For fixed header/menu */
}
body.dark {
  /* --- Color Palette (Dark Mode) --- */
  --color-bg-start: hsla(217, 39%, 11%, 1); /* #0f172a */
  --color-bg-end: hsla(217, 39%, 3%, 1);    /* #020617 */
  --card-surface-glass: hsla(217, 39%, 11%, 0.4);
  --glow-layer-1: hsla(169, 74%, 39%, 0.2); 
  --glow-layer-2: hsla(169, 74%, 39%, 0.1);
  --color-text-primary: hsla(206, 24%, 96%, 1); /* #f1f5f9 (White-ish) */
  --color-text-secondary: hsla(210, 10%, 65%, 1); /* Light Gray for subtitle */
  --color-accent: hsla(169, 74%, 39%, 1);   /* #1abc9c (Teal) */
  --color-accent-border: hsla(169, 74%, 39%, 0.3);   /* #1abc9c (Teal) */
  --color-glow: hsla(169, 74%, 39%, 0.4);   /* rgba(26,188,156,0.4) */
  --color-button-bg: var(--color-accent);
  --color-button-text: var(--color-text-primary);
  --color-footer-text: hsla(210, 8%, 50%, 1); /* Gray for footer */
  --color-hamburger: var(--color-text-primary); /* Hamburger icon color */
}
body{ 
  --color-bg-start: hsla(0, 0%, 100%, 1); 
  --color-bg-end: hsla(210, 20%, 98%, 1);  
  --card-surface-glass: hsla(0, 0%, 100%, 0.3);
  --glow-layer-1: hsla(169, 74%, 30%, 0.3); 
  --glow-layer-2: hsla(169, 74%, 30%, 0.15);
  --color-text-primary: hsla(217, 39%, 11%, 1); 
  --color-text-secondary: hsla(210, 10%, 40%, 1); 
  --color-accent: hsla(169, 74%, 30%, 1); 
  --color-accent-border: hsla(169, 74%, 30%, 0.3);  
  --color-glow: hsla(169, 74%, 30%, 0.2);   /* Lighter glow */
  --color-button-bg: var(--color-accent);
  --color-button-text: var(--color-bg-start);
  --color-footer-text: hsla(210, 8%, 30%, 1);
  --color-hamburger: var(--color-text-primary);
}
/* ===== Rests ======= */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
button,
input,
textarea,
select {
  font: inherit; 
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  color: inherit;
}
button {
  cursor: pointer;
  text-align: center;
}
/* ====== Utilities ====== */
.flex{
    display: flex;
}
.center{
    margin: 0 auto;
}
.delay-1 { animation-delay: 0.15s; } /* 150ms */
.delay-2 { animation-delay: 0.30s; } /* 300ms */
.delay-3 { animation-delay: 0.45s; } /* 450ms */
.delay-4 { animation-delay: 0.60s; } /* 600ms */
/* =============== */
body{
    height: 100vh;
    font-family: var(--ff-primary);
    color:  var(--color-text-primary);
   background: linear-gradient(
    180deg, /* This specifies a top-to-bottom gradient */
    var(--color-bg-start) ,
    var(--color-bg-end)   
  );
  transition: color 550ms ease, background-color 550ms ease-in-out;
}
.banner{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.wrapper{
    width: 90%;
    max-width: 1200px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:  var(--header-height);
}
nav{
    padding-block: var(--spacing-sm);
    justify-content:  space-between;
}
.logo{
    color: var(--color-text-secondary);
    font-family: var(--ff-secondary);
    font-size: var(--fs-small);
}
.btn-wrap{
    gap: 20px;
}
.theme-btn{
    font-size: 1.2rem;
}
/* Base state of the icon */
.theme-btn i {
  transition: transform 100ms ease-in-out;
  display: inline-block;
}

/* Flipped state when button is active */
.theme-btn.active i {
  transform: rotateY(180deg);
}
.text-wrap{
    flex-direction: column;
    align-items: center;
    width: 94%;
}
.icon {
    /* Using Flexbox to center the SVG */
    display: flex; 
    align-items: center;
    justify-content: center;
    color:  var(--color-bg-start); 
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid rgba(38, 196, 133, 0.2); /* Subtle border */
    box-shadow: 
    0px 0px 8px rgba(38, 196, 133, 0.2), /* Inner soft glow */
    0px 0px 20px rgba(38, 196, 133, 0.1); /* Outer wide glow */
    margin-bottom: var(--element-gap-sm);
    transition:  all 0.3s ease-in-out;
}
.icon .svg-wrap{
    background-color: var(--color-accent); /* This sets the "currentColor" of the SVG */
    border-radius: 4px;
}
h1{
    font-size: var(--fs-h1);
    font-weight: 700;
    letter-spacing: 1px;
}
p.desc{
    color: var(--color-text-secondary);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: var(--fs-small);
    margin-bottom: var(--element-gap-md);
}
.timer{
    padding: var(--spacing-xs) ;
    width: 70%;
    max-width: 240px;
    text-align: center;
    color: var(--color-text-secondary);
    background-color: var(--card-surface-glass); 
    backdrop-filter: blur(10px); /* This creates the "frosted" effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.08); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 14px; /* Matching the soft corners in the screenshot */
}
.timer h2{
    font-size: .78rem;
    margin-bottom: 10px;
    margin-top: 4px;
    letter-spacing: 1px;
}
.countdown-wrap{
    justify-content: center;
    gap: 10px;
    color: var(--color-text-secondary);
    font-family: var(--ff-secondary);
    padding: 0 1rem;
}
.countdown-wrap > div{
    flex-direction: column;
    justify-content: center;
}
.timer-tag{
    font-size: .5rem;
    opacity: .6;
    margin-bottom: .7rem;
}
.timer-colon{
    width: 2px;
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

}
.timer-colon::after,
.timer-colon::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    background-color: var(--color-text-secondary);
    border-radius: 50%;
}
.timer-colon::after{
    left: -1px;
}
.timer-colon::before{
    left: -1px;
    top: -9px;
}
.num{
    color:  var(--color-accent);
    font-size: 1.5rem;
    font-weight: 500;
}
.tag{
    padding: 0.8rem 1.8rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 2rem;
    border-radius: 50vh;
    color: var(--color-accent);
    font-weight: 700;
    font-family: var(--ff-secondary);
    letter-spacing: 3px;
    font-size: .87rem;
    box-shadow: 
        0px 0px 8px 3px var(--glow-layer-1), 
        0px 0px 20px 6px var(--glow-layer-2);
    background-color: var(--card-surface-glass);
    backdrop-filter: blur(10px);
}
.beta-btn{
    background-color: var(--color-accent);
    text-decoration: none;
    margin-top: var(--element-gap-sm);
    padding: 0.8rem 2.3rem 0.8rem 1.6rem;
    color: var(--color-bg-end);
    border-radius: 999px;
    transition:  all 0.3s ease-in-out;
    font-family: var(--ff-primary);
    font-weight: 500;
    letter-spacing: -1px;
    position: relative;
    cursor: pointer;
}
.beta-btn::after{
    position: absolute;
    content: '\2192';
    right: 15px;
    transition:  all 0.3s ease-in-out;
}
.beta-btn:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 8px var(--color-glow);
}
.beta-btn:hover::after{
    right: 13px;
}
.beta-btn:active{
    transform: scale(0.98);
    box-shadow: inset 0 0 8px var(--color-glow);
}




/* ========= Animations ========== */
.float{
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.fade-in{
    animation: fadeIn 1.5s ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes fadeIn {
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


/* ----------------------------------------------
* Generated by Animista on 2025-12-29 5:49:17
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
.flicker-5{-webkit-animation:flicker-5 8s linear infinite both;animation:flicker-5 8s linear infinite both}

@-webkit-keyframes flicker-5{0%,100%{opacity:1}-0.02%{opacity:1}0%{opacity:1}1%{opacity:1}1.02%{opacity:1}8.98%{opacity:1}9%{opacity:0}9.8%{opacity:0}9.82%{opacity:1}9.48%{opacity:1}9.5%{opacity:1}9.6%{opacity:1}9.62%{opacity:1}14.98%{opacity:1}15%{opacity:.5}15.8%{opacity:.5}15.82%{opacity:1}15.18%{opacity:1}15.2%{opacity:.7}16%{opacity:.7}16.02%{opacity:1}15.48%{opacity:1}15.5%{opacity:.5}16.2%{opacity:.5}16.22%{opacity:1}16.98%{opacity:1}17%{opacity:1}17.8%{opacity:1}17.82%{opacity:1}20.48%{opacity:1}20.5%{opacity:.9}21.3%{opacity:.9}21.32%{opacity:1}20.98%{opacity:1}21%{opacity:1}22%{opacity:1}22.02%{opacity:1}39.98%{opacity:1}40%{opacity:1}41%{opacity:1}41.02%{opacity:1}40.48%{opacity:1}40.5%{opacity:.6}41.4%{opacity:.6}41.42%{opacity:1}41.98%{opacity:1}42%{opacity:1}42.8%{opacity:1}42.82%{opacity:1}59.98%{opacity:1}60%{opacity:1}61%{opacity:1}61.02%{opacity:1}60.18%{opacity:1}60.2%{opacity:.2}61%{opacity:.2}61.02%{opacity:1}60.78%{opacity:1}60.8%{opacity:.4}61.6%{opacity:.4}61.62%{opacity:1}61.38%{opacity:1}61.4%{opacity:0}62.2%{opacity:0}62.22%{opacity:1}61.78%{opacity:1}61.8%{opacity:1}62.8%{opacity:1}62.82%{opacity:1}75.98%{opacity:1}76%{opacity:1}77%{opacity:1}77.02%{opacity:1}77.98%{opacity:1}78%{opacity:.7}78.8%{opacity:.7}78.82%{opacity:1}78.98%{opacity:1}79%{opacity:1}80%{opacity:1}80.02%{opacity:1}99.98%{opacity:1}100%{opacity:1}101%{opacity:1}101.02%{opacity:1}}@keyframes flicker-5{0%,100%{opacity:1}0%{opacity:1}1%{opacity:1}1.02%{opacity:1}8.98%{opacity:1}9%{opacity:0}9.8%{opacity:0}9.82%{opacity:1}9.48%{opacity:1}9.5%{opacity:1}9.6%{opacity:1}9.62%{opacity:1}14.98%{opacity:1}15%{opacity:.5}15.8%{opacity:.5}15.82%{opacity:1}15.18%{opacity:1}15.2%{opacity:.7}16%{opacity:.7}16.02%{opacity:1}15.48%{opacity:1}15.5%{opacity:.5}16.2%{opacity:.5}16.22%{opacity:1}16.98%{opacity:1}17%{opacity:1}17.8%{opacity:1}17.82%{opacity:1}20.48%{opacity:1}20.5%{opacity:.9}21.3%{opacity:.9}21.32%{opacity:1}20.98%{opacity:1}21%{opacity:1}22%{opacity:1}22.02%{opacity:1}39.98%{opacity:1}40%{opacity:1}41%{opacity:1}41.02%{opacity:1}40.48%{opacity:1}40.5%{opacity:.6}41.4%{opacity:.6}41.42%{opacity:1}41.98%{opacity:1}42%{opacity:1}42.8%{opacity:1}42.82%{opacity:1}59.98%{opacity:1}60%{opacity:1}61%{opacity:1}61.02%{opacity:1}60.18%{opacity:1}60.2%{opacity:.2}61%{opacity:.2}61.02%{opacity:1}60.78%{opacity:1}60.8%{opacity:.4}61.6%{opacity:.4}61.62%{opacity:1}61.38%{opacity:1}61.4%{opacity:0}62.2%{opacity:0}62.22%{opacity:1}61.78%{opacity:1}61.8%{opacity:1}62.8%{opacity:1}62.82%{opacity:1}75.98%{opacity:1}76%{opacity:1}77%{opacity:1}77.02%{opacity:1}77.98%{opacity:1}78%{opacity:.7}78.8%{opacity:.7}78.82%{opacity:1}78.98%{opacity:1}79%{opacity:1}80%{opacity:1}80.02%{opacity:1}99.98%{opacity:1}100%{opacity:1}}
